extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Transacciones 
                img(src="/img/vector.ico", alt="$" class="imgY")
            div(class="movimientos")
                div(class="bluebar")
                    h3(id="concepto") Concepto
                    h3(class="major" id ="fecha") Fecha
                    h3(class="major" id = "transaccion") Transaccion N°
                    h3(id = "monto") Monto
                    
                each item in transaciones
                    div(class="transaccion")
                        div(class = "datos" id="concepto")
                            p= item.compra.tipo + ": " + item.lugar.nombre + " " + item.compra.detalle
                        div(class="datos major" id='fecha')
                            p= item.compra.transaccion.fecha
                        div(class="datos major" id="transaccion")
                            p= item.id
                        div(class="datos" id="monto")
                            p= item.monto
                            p= item.compra.transaccion.monto_final
            div(class="help")
                img(src="./img/ayudaBlanco.ico")
                p En esta pantalla se mostrara dos opciones en donde el vendedor podra realizar una compra o se podra realizar una recarga
