extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Transacciones 
                img(src="/img/vector.ico", alt="$" class="imgY")
            div(class="movimientos")
                div(class="bluebar")
                    h3 N° Transaccion
                    h3(class="major") Fecha/Hora
                    h3(class="major") Tipo
                    h3 Monto
                    h3(class="major") Lugar
                    h3(class="major") Detalle
                    
                each item in transaciones
                    div(class="transaccion")
                        //h3='Compra ' + item.lugar.nombre
                        div(class="datos")
                            p= item.id
                        div(class="datos")
                            p= item.compra.transaccion.fecha
                        div(class="datos")
                            p= item.compra.tipo
                        div(class="datos")
                            p= item.monto
                        div(class="datos")    
                            p= item.lugar.nombre
                        div(class="datos")    
                            p= item.compra.detalle